#table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    min-width: 700px;
}

#table td {
    padding: 10px 20px;
    width: 20%;
}

#table :not(thead) tr:nth-child(odd) td:nth-child(odd) {
    background-color: #dbdbdb;
}

#table :not(thead) tr:nth-child(odd) td:nth-child(even), #table :not(thead) tr:nth-child(even) td:nth-child(odd) {
    background-color: #e7e7e7;
}

#table :not(thead) tr:nth-child(even) td:nth-child(even) {
    background-color: #f3f3f3;
}

#table thead {
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    background: linear-gradient( to right, #7887ab 20%, #4f628e 20% 40%, #2e4172 20% 60%, #162955 20% 80%, #061539 20% 100%);
}

#table p {
    font-size: 30px;
    margin: 0;
    padding: 10%;
}

#table a {
    color: black;
    text-decoration: none;
    border: solid #bebebe 2px;
    background-color: #cecaca;
    padding: 2px 15px;
    border-radius: 10%;
}
